/*----------------------------------------
 * Hover
 *----------------------------------------*/
@each $name, $color in $colors {
    .hover-#{$name}:hover{
        color: $color;

        a:hover {
            color: $color;
        }
    }
}